<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FIKSI GROUP 1</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
    <footer>
        <h1>Made With Group 1</h1>
    </footer>
</html>
